*

!README.md
!.gitignore

!.github
!.github/**

!vcpkg
!vcpkg/**
!vcpkg.json

!include
!include/**
!src
!src/**
!CMakeLists.txt
!CMakePresets.json

!environment.yml
!py
!py/**

!scripts
!scripts/**
!tests
!tests/**

!Dockerfile
!.dockerignore

*.log

__pycache__
